# Binaries
cats
cats.exe
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Go coverage output
*.out

# Environment variables
.env
.env.*

# IDE and OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
